/ollama/data/*
!/ollama/data/.gitkeep
/data/german_funding_database/*
!/data/german_funding_database/.gitkeep
/data/qdrant/*
!/data/qdrant/.gitkeep

.env
.env.local
/.idea
__pycache__/
.DS_Store

*.xml
*.pyc
*.log
.coverage
.pytest_cache/
